body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0e1b0c;
    color: #f9fe95;
    opacity: 1;
}

nav ul {
    margin: 0;
}

nav {
    padding: 0.9rem;
    height: 60px;
    width: 100%;
    position: fixed;
    opacity: 2;
    z-index: 2;
    background-color: rgba(16, 20, 16, 0.75);
}

.nav-item {
    list-style-type: none;
    display: inline-block;
}

.nav-link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: BCB88A;
    display: inline-block;
}

.nav-link:hover {
    border: #657166 solid 0.2em;
    padding: 5px;
    box-shadow: 0 0.7em 0.7em -0.3em #657166;
    transform: translateY(-0.3em);
    cursor: pointer;
}

h2 {
    background-image: linear-gradient(to top, #3bf9f9, #d4fe00);
    background-clip: text;
    color: transparent;
    font-family: 'Futura', "Trebuchet MS", Arial, sans-serif;
    font-size: 3rem;
    text-shadow: 0 0 10px rgba(250, 250, 5, 0.714);
}

@keyframes fadeInSpan {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

header h1 span:nth-of-type(2) {
    animation: fadeInSpan 2s ease infinite;
    animation-delay: 0.1s;
}

header h1 span:nth-of-type(3) {
    animation: fadeInSpan 2s ease infinite;
    animation-delay: 0.2s;
}

header h1 span:nth-of-type(4) {
    animation: fadeInSpan 2s ease infinite;
    animation-delay: 0.3s;
}

header h1 span:nth-of-type(5) {
    animation: fadeInSpan 2s ease infinite;
    animation-delay: 0.4s;
}

header h1 span:nth-of-type(6) {
    animation: fadeInSpan 2s ease infinite;
    animation-delay: 0.5s;
}

header h1 span:nth-of-type(7) {
    animation: fadeInSpan 2s ease infinite;
    animation-delay: 0.6s;
}

header h1 span:nth-of-type(8) {
    animation: fadeInSpan 2s ease infinite;
    animation-delay: 0.7s;
}

header h1 span:nth-of-type(9) {
    animation: fadeInSpan 2s ease infinite;
    animation-delay: 0.8s;
}

header h1 span:nth-of-type(10) {
    animation: fadeInSpan 2s ease infinite;
    animation-delay: 0.9s;
}

header h1 span:nth-of-type(11) {
    animation: fadeInSpan 2s ease infinite;
    animation-delay: 1.0s;
}


header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    padding-top: 60px;
    background-image: url('https://img.freepik.com/free-vector/gradient-network-connection-background_23-2148870458.jpg?w=996&t=st=1712958402~exp=1712959002~hmac=7000c1f8b931c301145c604e05a0598b65d82c4ed167cca2408614ed314f4784');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
}

h1 span {
    font-size: 5rem;
    background-image: linear-gradient(to top, #3bf9f9, #d4fe00);
    background-clip: text;
    color: transparent;
    text-shadow: 0 0 10px rgba(250, 250, 5, 0.65);
    font-family: "Gill Sans", sans-serif;
    margin-right: 0.1rem;
}

header p {
    font-size: 1.7rem;
    animation: fadeInSpan 1.5s ease forwards;
    margin-top: 0;
}


section {
    padding: 2rem;
    animation: fadeInSpan 2s ease forwards;

}

.container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap
}

.about,
.skills {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#iframe {
    height: 75vh;
    width: 70%;
    border-radius: 40px;
}

.project {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.portfolio {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.social-links {
    margin-top: 1rem;
}

.social-links a {
    display: inline-block;
    margin-right: 1rem;
    transition: all 0.3s ease;
}

.social-links a:hover {
    transform: translateY(-3px);
}

.skills li {
    list-style-type: none;
}


.contact h2 {
    display: flex;
    justify-content: center;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.social-links a svg {
    margin-right: 5px;
    width: 24px;
    height: 24px;
}

.email {
    color: #dd4b39;
    padding: 7px;
}

.linkedin {
    color: #0077b5;
    padding: 7px;
}

.github {
    color: #8766b9;
    padding: 7px;
}

.email:hover {
    box-shadow: 0 0 24px 0 #dd4b39;
    border-radius: 10px;
}

.linkedin:hover {
    border-radius: 10px;
    box-shadow: 0 0 24px 0 #0077b5;
}

.github:hover {
    border-radius: 10px;
    box-shadow: 0 0 24px 0 #8766b9;

}

@media screen and (max-width: 412px) {
    .container {
        width: 100%;
    }

    .row {
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav ul li {
        display: block;
        margin: 0.5rem 0;
    }

    h1 {
        font-size: 3.5rem;
    }

    header p {
        font-size: 1.5rem;
    }

    .social-links {
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

footer {
    background-color: #223712;
    color: #BCB88A;
    padding: 20px 0;
    text-align: center;
}